:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --assent-color: #2196f3;
  --main-btn-color: #ffffff;
  --main-logo-second: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --batton-hover: #188ce8;
  --batton-portfolio: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-text-color);
}

/* --------------------HEADER------------------- */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hero,
.footer {
  background-color: #2f303a;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-second);
}
.header-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--assent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--assent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--assent-color);
}
/* --------------HERO------------- */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
}
.hero-btn {
  background-color: #2196f3;
}
.hero-btn:hover {
  background-color: var(--batton-hover);
}
.hero-btn {
  cursor: pointer;
}
/*-------------PECULIARITIES------------- */

.peculiaritie-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.peculiaritie-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*-----------------PROFILES-------------------*/
.profiles-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* -------------------COMMAND--------------- */
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.command-titles {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.command-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ----------------FOOTER----------------- */
.footer-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-second);
}
.footer-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-logo-color);
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--assent-color);
}
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--assent-color);
}

/* ------------PORTFOLIO------------------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--batton-portfolio);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--third-text-color);
  background-color: var(--assent-color);
}
.portfolio-btn {
  cursor: pointer;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
